.input_cont {
    background-color: white;
    width: 60%;
    border-radius: 10px;
    height: 2.5rem;
    padding: 0 15px;
    display: flex;
    align-items: center;
    color: #06784f; /*Color icono*/
    border-color: #06784f;
    border-style: solid;
    font-family: "Space Mono", monospace;
}

input {
    font-family: "Space Mono", monospace;
    background-color: transparent;
    border: none;
    font-size: 18px;
    color: #06784f;
    margin-left: 5px;
    flex: 1; 
}

input:focus {
    outline: none;
}

input::placeholder {
    color: #06784f;
}