.Home {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.vert_cont{
  display: flex;
  flex: 1;
  flex-direction: row;
}

.vert_cont.left {
  background-color: #eeffe6;
  flex: 1;
  padding: 20px;
}

.vert_cont.right {
  background-color: white;
  flex: 1;
  padding: 20px;
  align-items: center;
  text-align: center;
  font-size: 20px;
}

.search_bar_cont {
  display: flex;
  background-color: #7abc9b;
  padding: 20px;
  margin: auto;

}

.title_cont {
  background-color: #06784f;
  font-family: "press start 2p", monospace;
  font-size: 30px;
  color:white;
  padding: 20px;
  text-align: center;
}