.Home {
  background-color: white;
  height: 100vh;
  width: 100vw;
  padding: 20px;
}

.search_bar_cont {
  background-color: #7abc9b;
}

.title_cont {
  background-color: #06784f;
  color: white;
  font-family: "press start 2p", monospace;
  font-size: 24px;
  padding: 10px;
  text-align: center;
}